body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #130821 !important;
}

.logo {
    height: 30px;
}

nav {
    background-color: #1A0B2E; 
    padding: 15px 20px;
}

nav .navbar-nav .nav-link:hover {
    text-decoration: underline;
}


nav .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 25px;
   
}

header {
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    color: white !important;
    padding: 50px 0px;
}
header img {
    height: 120px;
    width: 120px;
}

.heading {
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(90deg, #fa78b9, #9c3aff, #52baff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px 0;
}



.head {
    width: 1000px;
    color: white;
    text-align: center;
    margin: 0 auto; 
    display: block; 
}





