body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #130821 !important;
}



html {
    scroll-behavior: smooth;
  }

.logo {
    height: 30px;
}

nav {
    background-color: #1A0B2E; 
    padding: 15px 20px;
}

nav .navbar-nav .nav-link:hover {
    text-decoration: underline;
}


nav .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 25px;
   
}

header {
    text-align: center;
}

#head {
    font-size: 20px;
    font-weight: 600;
    color: white !important;
    padding: 50px 0px;
}
header img {
    height: 120px;
    width: 120px;
}

.heading {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(90deg, #fa78b9, #9c3aff, #52baff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px 0;
}



.head {
    width: 1000px;
    color: white;
    text-align: center;
    margin: 0 auto; 
    display: block; 
    padding: 0 0 120px 0;
}

#contact {
    padding: 40px;
    background-color: #1A0B2E;
    color: white;
    border-radius: 10px; 
    outline: 2px solid #480d9f; 
    outline-image: linear-gradient(180deg, #702FD2, #5334A1);
    outline-image-slice: 1;
    box-shadow: 0px -4px 50px rgba(106, 45, 206, 0.65);
    max-width: 1400px;
    margin: 50px auto;
    overflow: hidden; 
    
}


.content-info {
    text-align: left;
}

.contact-info h2 {
    font-size: 40px !important;
    background: linear-gradient(90deg, #ffbbdd, #d5abff, #abddff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    
}

.contact-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    
}

.contact-info ul {
    padding: 0;
    list-style: none;
    
}

.contact-info li {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.contact-info a {
    color: #9c3aff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form input,
.contact-form textarea {
    background-color: #2D1D42;
    color: white; 
    border: 1px solid #480d9f; 
    padding: 10px;
    border-radius: 5px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #B8A8D1; 
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #9c3aff; 
    box-shadow: 0 0 8px rgba(156, 58, 255, 0.6);
}

.section-title {
    background: linear-gradient(90deg, #ffbbdd, #d5abff, #abddff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 40px !important;
    font-weight: bold;
    padding: 0 0 30px 0;
    
}


.education-item {
    background: linear-gradient(180deg, #251043, #38126D, #261045); 
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -4px -7px 26px rgba(0, 0, 0, 0.12);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.education-item:hover {
    transform: translateY(-5px);
}

#skills {
    
    padding: 120px 0;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.skills-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    flex: 1;
    max-width: 45%;
}

.skills-cards .card {
    background: #281B39;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.card-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    color: white;
}

.card p {
    font-size: 14px;
    color: white;
}

.title-skill {
    background: linear-gradient(90deg, #ffbbdd, #d5abff, #abddff);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px !important;
    font-weight: bold;
   
}

.skills-info {
    flex: 2;
    max-width: 500px;
    padding-left: 40px;
    max-width: 55%;

}

.skills-info h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.skills-info h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

.skills-info p {
    font-size: 14px;
    color: white;
    line-height: 1.6;
}

.soft-skills-list {
    color: white;
    font-size: 14px;
}



.download-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.download-btn:hover {
    background-color: #0056b3;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
    padding: 0 0 70px 0;
}

.project-content {
    flex: 1;
    color: white;
}

.project-content h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.project-content p {
    font-size: 16px;
    margin-bottom: 15px;
}

.project-content a {
    font-size: 18px;

}

.project-image {
    flex: 1;
    text-align: right;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}







