body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #121120;
}

.logo {
    height: 40px;
}

nav {
    background-color: #1A0B2E; 
    padding: 10px 20px;
}

nav .navbar-nav .nav-link:hover {
    color: #f8b400;
}


nav .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
}




